.testimonials {
    @apply px-2 relative
}

.testimonials-container {
    background: #ACEDFF;
    border-radius: 15px;
    max-width: 990px;
    @apply mx-auto my-8
}

.testimonial {
    max-width: 800px;
    @apply flex flex-col p-5 items-center mx-auto
}

.testimonial .img {
    width: 80px;
    height: 80px;
    overflow: hidden;
    @apply mt-5
}

.testimonial .img img {
    border-radius: 50%;
    border: 5px solid white !important;
    width: 100%;
    height: 100%;
}

.testimonial .name {
    font-size: 20px;
    @apply mb-3 font-bold
}

.testimonial .text {
    font-size: 16px;
    color: #36453B;
    @apply text-center mb-7
}

.testimonials-container .left-btn,
.testimonials-container .right-btn {
    color: #8447FF;
    background-color: transparent;
    width: 60px;
    height: 90px;
    transform: translateY(-50%);
    @apply absolute cursor-pointer top-2/4 hidden
}

.testimonials-container .left-btn svg,
.testimonials-container .right-btn svg {
    @apply w-full h-full
}

.testimonials-container .left-btn {
    left: 40px;
}

.testimonials-container .right-btn {
    right: 40px;
}

.carousel .control-dots {
    bottom: 0px !important;
}

.carousel .control-dots .dot {
    opacity: 1 !important;
    background: rgba(132, 71, 255, 0.2) !important;
    box-shadow: none !important;
}

.carousel .control-dots .dot.selected {
    background: #8447FF !important;
}

.testimonials .shapes {
    top: 0;
    left: -100px;
    @apply absolute
}

.testimonials .shapes .rectangle {
    height: 100px;
    top: unset;
    top: 250%;
    right: -1600px;
}

@media (min-width: 640px) {
    .testimonial {
        @apply px-10
    }
    .testimonial .img {
        width: 100px;
        height: 100px;
    }
    .testimonial .img img {
        border: 7px solid white !important;
    }
    .testimonials-container {
        border-radius: 20px;
    }
}

@media (min-width: 850px) {
    .testimonial .name {
        font-size: 25px;
    }
    .testimonial .text {
        font-size: 18px;
        margin-top: 20px;
    }
    .testimonials-container {
        border-radius: 30px;
    }
    .carousel .slider-wrapper {
        margin-left: 100px !important;
        margin-right: 100px !important;
        width: auto !important;
    }
    .testimonials-container .left-btn,
    .testimonials-container .right-btn {
        @apply block
    }
}

@media (min-width: 1190px) {
    .testimonials {
        @apply my-32
    }
    .testimonial .name {
        font-size: 30px;
    }
    .testimonial .text {
        font-size: 20px;
        margin-top: 30px;
    }
    .testimonials-container {
        @apply mt-20
    }
    .testimonials-container {
        border-radius: 40px;
    }
}