.hero {
    background-image: url("../../../images/mark-fletcher-brown-nN5L5GXKFz8-unsplash1.png");
    background-position: center;
    background-size: cover;
    z-index: 1;
    height: 100vh;
    @apply w-full flex items-center justify-center flex-col text-center relative
}

.hero::after {
    content: '';
    z-index: -1;
    background: rgba(172, 237, 255, 0.2);
    @apply absolute w-full h-full
}

.hero .text-container .salutation {
    color: #8447FF;
    font-size: 20px;
    font-weight: 800;
}

.hero .text-container .name {
    font-size: 40px;
    font-weight: 700;
}

.hero .text-container .role {
    font-size: 28px;
    font-weight: 800;
}

.hero .text-container .role span {
    color: #8447FF;
    text-decoration: underline;
}

.hero .btns-container {
    @apply flex mt-10 flex-col
}


/* responsiveness */

@media (min-width: 400px) {
    .hero .text-container .name {
        font-size: 45px;
    }
    .hero .text-container .role {
        font-size: 30px;
    }
}

@media (min-width: 640px) {
    .hero .text-container .salutation {
        font-size: 25px;
    }
    .hero .text-container .name {
        font-size: 50px;
    }
    .hero .text-container .role {
        font-size: 35px;
    }
}

@media (min-width: 768px) {
    .hero .text-container .name {
        font-size: 55px;
    }
    .hero .btns-container {
        @apply flex-row
    }
}

@media (min-width: 1024px) {
    .hero .text-container .salutation {
        font-size: 28px;
    }
    .hero .text-container .name {
        font-size: 65px;
    }
    .hero .text-container .role {
        font-size: 40px;
    }
}

@media (min-width: 1280px) {
    .hero .text-container .salutation {
        font-size: 30px;
    }
    .hero .text-container .name {
        font-size: 75px;
    }
    .hero .text-container .role {
        font-size: 45px;
    }
}