/* nav bar */

.nav-container {
    height: 80px;
    overflow: hidden;
    transition: all 0.3s ease;
    @apply fixed w-full z-10
}

.nav-container.showLinks {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: white !important;
    height: 340px;
}

.navbar {
    height: 80px;
    @apply flex w-full px-6 top-0 left-0 justify-between items-center
}

.navbar .nav-links {
    display: none !important;
}

.logo {
    height: 50px;
}

.logo img {
    @apply h-full w-auto
}

.nav-btn {
    height: 20px;
    @apply flex flex-col justify-between cursor-pointer
}

.nav-btn .bar {
    width: 30px;
    height: 3px;
    background-color: #36453B;
}

.nav-container .nav-links {
    @apply flex flex-col items-start
}

.nav-links .link {
    color: #36453B;
    font-size: 18px;
    @apply my-2 ml-6 uppercase font-medium cursor-pointer
}

.nav-container .nav-links .sub-links {
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}

.rotate {
    transform: rotate(180deg);
}

.nav-container .nav-links .sub-links.showSubLinks {
    height: 110px;
}


/* end nav bar */


/* hero section */

.hero {
    background-image: url("../../../images/mark-fletcher-brown-nN5L5GXKFz8-unsplash1.png");
    background-position: center;
    background-size: cover;
    z-index: 1;
    height: 100vh;
    @apply w-full flex items-center justify-center flex-col text-center relative
}

.hero::after {
    content: '';
    z-index: -1;
    background: rgba(172, 237, 255, 0.2);
    @apply absolute w-full h-full
}

.hero .text-container .salutation {
    color: #8447FF;
    font-size: 20px;
    font-weight: 800;
}

.hero .text-container .name {
    font-size: 40px;
    font-weight: 700;
}

.hero .text-container .role {
    font-size: 28px;
    font-weight: 800;
}

.hero .text-container .role span {
    color: #8447FF;
    text-decoration: underline;
}

.hero .btns-container {
    @apply flex mt-10 flex-col
}


/* end hero section */


/* responsiveness */

@media (min-width: 400px) {
    .hero .text-container .name {
        font-size: 45px;
    }
    .hero .text-container .role {
        font-size: 30px;
    }
}

@media (min-width: 640px) {
    .hero .text-container .salutation {
        font-size: 25px;
    }
    .hero .text-container .name {
        font-size: 50px;
    }
    .hero .text-container .role {
        font-size: 35px;
    }
}

@media (min-width: 768px) {
    .hero .text-container .name {
        font-size: 55px;
    }
    .hero .btns-container {
        @apply flex-row
    }
}

@media (min-width: 1024px) {
    .nav-container {
        overflow: initial;
    }
    .nav-container .nav-links {
        display: none;
    }
    .nav-btn {
        @apply hidden
    }
    .navbar {
        @apply px-16
    }
    .navbar .nav-links {
        display: flex !important;
        @apply flex-row items-center
    }
    .hero .text-container .salutation {
        font-size: 28px;
    }
    .hero .text-container .name {
        font-size: 65px;
    }
    .hero .text-container .role {
        font-size: 40px;
    }
}

@media (min-width: 1280px) {
    .navbar {
        @apply px-32
    }
    .navbar .nav-links .link {
        @apply mx-4
    }
    .hero .text-container .salutation {
        font-size: 30px;
    }
    .hero .text-container .name {
        font-size: 75px;
    }
    .hero .text-container .role {
        font-size: 45px;
    }
}