.about {
    @apply mx-5
}

.about .section-container {
    @apply flex flex-col items-center
}

.about .img {
    height: 380px;
    z-index: 1;
    @apply relative mt-8
}

.about .img:after {
    content: '';
    z-index: -1;
    top: -25px;
    left: -25px;
    background-color: #8447FF;
    @apply absolute h-full w-full
}

.about .img img {
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.about .desc {
    @apply flex w-full items-center flex-col
}

.about .desc p {
    font-size: 20px;
    /* line-height: 45px; */
    color: #36453B;
    @apply text-center mt-6
}

.about .btn {
    font-size: 20px;
    width: 200px;
    height: 40px;
    border-radius: 12px;
    @apply mx-0
}


/* responsiveness */

@media (min-width: 640px) {
    .about {
        @apply mx-16
    }
}

@media (min-width: 768px) {
    .about {
        @apply my-24
    }
    .about .section-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr;
        @apply grid gap-2 items-end w-full
    }
    .about .section-title {
        @apply items-start
    }
    .about .section-title .underline {
        @apply ml-6
    }
    .about .img-container {
        grid-row: 1 / span 2;
        @apply flex justify-end mr-8
    }
    .about .img {
        width: fit-content;
    }
    .about .desc {
        @apply items-start h-full
    }
    .about .desc p {
        @apply text-left mt-0
    }
}

@media (min-width: 1024px) {
    .about {
        @apply my-32
    }
    .about .desc p {
        font-size: 25px;
        @apply my-3
    }
    .about .img-container {
        @apply mr-12
    }
    .about .img {
        height: 420px;
    }
}

@media (min-width: 1280px) {
    .about {
        @apply m-40
    }
    .about .img-container {
        @apply mr-16
    }
    .about .img {
        height: 470px;
        width: 400px;
    }
    .about .img::after {
        top: -35px;
        left: -35px;
    }
    .about .img img {
        width: 100%;
    }
    .about .desc p {
        font-size: 28px;
        @apply pr-16
    }
    .about .btn {
        font-size: 22px;
        width: 250px;
        height: 45px;
        border-radius: 15px;
    }
}