.about {
    @apply mx-5 relative
}

.about .section-container {
    @apply flex flex-col items-center
}

.about .img {
    height: 380px;
    z-index: 1;
    @apply relative mt-8
}

.about .img:after {
    content: '';
    z-index: -1;
    top: -25px;
    left: -25px;
    background: linear-gradient(208.88deg, #89BBFE 0%, #8447FF 100%);
    @apply absolute h-full w-full
}

.about .img img {
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.about .desc {
    @apply flex w-full items-center flex-col
}

.about .desc p {
    font-size: 20px;
    color: #36453B;
    @apply text-center mt-6
}

.about .btn {
    font-size: 20px;
    width: 200px;
    height: 40px;
    border-radius: 12px;
    @apply mx-0
}

.dots {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    z-index: -10;
    top: -60px;
    right: -85px;
    @apply grid absolute
}

.dots .dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ACEDFF78;
    margin: 6px;
}

.shapes {
    z-index: -10;
}

.shapes .circle {
    width: 340px;
    height: 340px;
    border: 28px solid rgba(137, 187, 254, 0.4);
    border-radius: 50%;
    top: 50%;
    left: -200px;
    @apply absolute
}


/* responsiveness */

@media (min-width: 640px) {
    .about {
        @apply mx-16
    }
    .shapes .circle {
        width: 400px;
        height: 400px;
    }
}

@media (min-width: 768px) {
    .about {
        @apply my-24
    }
    .about .section-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr;
        @apply grid gap-2 items-end w-full
    }
    .about .section-title {
        @apply items-start
    }
    .about .section-title .underline {
        @apply ml-6
    }
    .about .img-container {
        grid-row: 1 / span 2;
        @apply flex justify-end mr-8
    }
    .about .img {
        width: fit-content;
    }
    .about .desc {
        @apply items-start h-full
    }
    .about .desc p {
        @apply text-left mt-0
    }
    .shapes .circle {
        width: 500px;
        height: 500px;
        left: -300px;
        border: 35px solid rgba(137, 187, 254, 0.4);
    }
}

@media (min-width: 1024px) {
    .about {
        @apply my-32
    }
    .about .desc p {
        font-size: 25px;
        @apply my-3
    }
    .about .img-container {
        @apply mr-12
    }
    .about .img {
        height: 420px;
    }
    .shapes .rectangle {
        width: 700px;
        height: 360px;
        border-radius: 80px;
        top: -100px;
        right: -490px;
        background: rgba(172, 237, 255, 0.49);
        @apply absolute
    }
}

@media (min-width: 1280px) {
    .about {
        @apply m-40
    }
    .about .section-container {
        grid-template-columns: 7fr 8fr;
    }
    .about .img-container {
        @apply mr-16
    }
    .about .img {
        height: 470px;
        width: 400px;
    }
    .about .img::after {
        top: -35px;
        left: -35px;
    }
    .about .img img {
        width: 100%;
    }
    .about .desc p {
        font-size: 28px;
        @apply pr-16
    }
    .about .btn {
        font-size: 22px;
        width: 250px;
        height: 45px;
        border-radius: 15px;
    }
}