.about {
    @apply mx-32 my-20
}

.about .section-container {
    grid-template-columns: 7fr 8fr;
    grid-template-rows: 1fr 2fr;
    max-width: 100%;
    @apply grid gap-10 items-end w-full
}

.about .img {
    height: 85%;
    width: 60%;
    grid-row: 1 / span 2;
    z-index: 1;
    @apply justify-self-end relative ml-8
}

.about .img:after {
    content: '';
    z-index: -1;
    top: -25px;
    left: -25px;
    background-color: #8447FF;
    @apply absolute h-full w-full
}

.about .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.about .title {
    align-items: flex-end !important;
    @apply flex h-full w-full
}

.about .desc p {
    font-size: 28px;
    line-height: 45px;
    color: #36453B;
    @apply text-justify pr-32 mb-10
}

.about .desc .btn {
    background: #8447FF;
    border: 1px solid #8447FF;
    transition: 0.2s ease;
    @apply mx-0
}

.about .desc .btn:hover {
    color: #8447FF;
    background: transparent;
}

@media (max-width: 1400px) {
    .about {
        @apply mx-16
    }
    .about .desc p {
        @apply pr-10
    }
}

@media (max-width: 1280px) {
    .about {
        @apply mx-14
    }
    .about .title {
        font-size: 40px;
    }
    .about .about .desc p {
        line-height: auto;
        font-size: 20px;
        @apply pr-8
    }
    .about .img {
        @apply ml-8
    }
}